#sunny{
    display:block;
    background-color: #a49cbd;
}

#winter{
    display:block;
    background-color:#5B8FB9;
}

#rainy{
    display:block;
    background-color: #B6EADA;

}

.season{
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-size: large;
    border: 1px black dotted;
}